.a {
  color: Black;
  font-family: "Times New Roman";
  font-size: 70px !important;
  text-align: center;
  border: solid black;
  padding-bottom: 20px;
}

.b {
  font-family: "Times New Roman";
  color: Black;
  font-size: 18px;
  text-align: left;
}

.e {
  text-align: center;
}